.board {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 10px;
    position: relative;
}

.popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    margin: 5px;
    border: 2px solid #89A1BA;
    border-radius: 15px;
    background-color: #434E5B;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 200;
    font-size: 20px;
    width: 350px;
    height: 200px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.popup span {
    font-weight: 600px;
    font-size: 25px;
}